class JDRLAB:
    string1= " abc"
    x=1
    string2=  " abd"

    print(string2)
    print("vs")
    print(string1)
    table = [[0,1,2,3],[1,0,0,0],[2,0,0,0],[3,0,0,0]]

    for i in range(1,len(string1)-1):
        for j in range (1,len(string2)):
            table[len(string2)-1][j] = min(table[i - 1][j], table[i - 1][j - 1], table[i][j - 1]) + 1
            if string1[1:i] == string2[1:j]:
                table[i][j] = table[i - 1][j - 1]
                x += 1
            else:
                table[i][j]= min(table[i-1][j],table[i-1][j-1],table[i][j-1])+1




    print(table[0])
    print(table[1])
    print(table[2])
    print(table[3])
#table = [[0] * (len(string1))] * (len(string2)+1)
#    for i in range (len(string1)):
      # table

